SUPABASE_URL=https://xayvpweeghlnyzwummky.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhheXZwd2VlZ2hsbnl6d3VtbWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NzI0MTYsImV4cCI6MjA5MTU0ODQxNn0._PvYNMRWktncjT_A0Gc_zM17lXH-_gLUrDSRxwukk1g
BOT_TOKEN=8135617598:AAGesTJRM6DDwDgAIk1tp_k91o0lykUjZ48
CHAT_ID=5982990352
GEMINI_KEY=
POLL_INTERVAL=300
